## Importar bibliotecas y archivos

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# float format
pd.options.display.float_format = '{:.4f}'.format

In [3]:
# datasets
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

## Explorar informaci√≥n

In [4]:
test.shape, train.shape

((76161, 16), (306007, 17))

In [5]:
train.columns

Index(['year', 'month', 'day', 'hour', 'PM2.5', 'PM10', 'SO2', 'NO2', 'CO',
       'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM', 'station'],
      dtype='object')

In [6]:
test.columns

Index(['year', 'month', 'day', 'hour', 'PM10', 'SO2', 'NO2', 'CO', 'O3',
       'TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM', 'station'],
      dtype='object')

La columna que le falta a test es la de 'PM2.5'

In [7]:
train.head()

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,wd,WSPM,station
0,2013,3,1,0,4.0000,4.0000,4.0000,7.0000,300.0000,77.0000,-0.7000,1023.0000,-18.8000,0.0000,NNW,4.4000,Aotizhongxin
1,2013,3,1,1,8.0000,8.0000,4.0000,7.0000,300.0000,77.0000,-1.1000,1023.2000,-18.2000,0.0000,N,4.7000,Aotizhongxin
2,2013,3,1,4,3.0000,3.0000,12.0000,12.0000,300.0000,72.0000,-2.0000,1025.2000,-19.5000,0.0000,N,2.0000,Aotizhongxin
3,2013,3,1,5,5.0000,5.0000,18.0000,18.0000,400.0000,66.0000,-2.2000,1025.6000,-19.6000,0.0000,N,3.7000,Aotizhongxin
4,2013,3,1,6,3.0000,3.0000,18.0000,32.0000,500.0000,50.0000,-2.6000,1026.5000,-19.1000,0.0000,NNE,2.5000,Aotizhongxin

In [8]:
train.describe()

,year,month,day,hour,PM2.5,PM10,SO2,NO2,CO,O3,TEMP,PRES,DEWP,RAIN,WSPM
count,306007.0000,306007.0000,306007.0000,306007.0000,306007.0000,306007.0000,306007.0000,306007.0000,306007.0000,306007.0000,306007.0000,306007.0000,306007.0000,306007.0000,306007.0000
mean,2014.7135,6.4820,15.7108,11.5765,79.3684,104.5362,15.6463,50.5752,1229.0649,57.3382,13.5307,1010.8046,2.4285,0.0654,1.7380
std,1.1597,3.4478,8.7970,6.9333,80.0549,91.2367,21.3227,35.0492,1155.3297,56.6731,11.4180,10.4483,13.7953,0.8202,1.2416
min,2013.0000,1.0000,1.0000,0.0000,2.0000,2.0000,0.2856,2.0000,100.0000,0.2142,-19.9000,982.4000,-36.0000,0.0000,0.0000
25%,2014.0000,3.0000,8.0000,6.0000,20.0000,36.0000,2.0000,23.0000,500.0000,10.4958,3.1000,1002.4000,-9.0000,0.0000,0.9000
50%,2015.0000,6.0000,16.0000,12.0000,55.0000,82.0000,7.0000,43.0000,900.0000,45.0000,14.5000,1010.4000,3.0000,0.0000,1.4000
75%,2016.0000,9.0000,23.0000,18.0000,110.0000,145.0000,19.0000,71.0000,1500.0000,82.0000,23.2000,1019.0000,15.1000,0.0000,2.2000
max,2017.0000,12.0000,31.0000,23.0000,835.0000,999.0000,500.0000,290.0000,10000.0000,1071.0000,41.6000,1042.8000,29.1000,72.5000,13.2000

## Limpiar informaci√≥n

In [9]:
train.drop(columns=['wd','station'], inplace=True)
test.drop(columns=['wd','station'], inplace=True)

In [10]:
# Check missing values
null_rows_train = train.isna().sum()
print(null_rows_train[null_rows_train>0])
'No hay valores vac√≠os'

Series([], dtype: int64)

'No hay valores vac√≠os'

## Elegir modelo

### Tiene que ser un modelo de regresi√≥n.
- Lineal regresion
- Logistic Regresion


Voy a elegir regresi√≥n lineal

## Definir Variables

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [16]:
climate_model=LinearRegression()

## Preparing the Data

### Separate dataset into two parts

In [26]:
climate_x=train.drop(columns=['PM2.5'])
climate_y=train['PM2.5']

### Create the model

In [27]:
X_train, X_test, y_train, y_test = train_test_split(climate_x,climate_y,test_size=0.2,train_size=0.8,shuffle=True)

In [28]:
climate_model.fit(climate_x,climate_y)
y_pred=climate_model.predict(X_test)

In [33]:
y_pred

array([153.30702895,  51.40843475, 172.41452371, ...,  65.54374403,
       132.21948633,  43.44478929])

## Verificaci√≥n R2

In [30]:
climate_model.intercept_

-1533.524837667911

In [31]:
climate_model.coef_

array([ 0.57157526, -0.44003013, -0.10581221, -0.03678728,  0.54482261,
        0.130383  ,  0.06515373,  0.02006974,  0.10086945, -1.11509064,
        0.38190388,  1.44531738, -0.56708231, -0.50699219])

In [32]:
climate_model.score(climate_x, climate_y)

0.8556838072337234

## Exportar y_pred

In [38]:
from numpy import savetxt
savetxt('y_pred.csv', y_pred, delimiter=',')