## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
# Your code here
sample_list_1 = random.sample(range(100),k = 80,counts = None)
print(sample_list_1)

[19, 64, 26, 27, 68, 49, 51, 69, 40, 34, 25, 44, 57, 2, 9, 20, 11, 62, 91, 33, 87, 0, 41, 96, 93, 77, 42, 80, 35, 32, 98, 48, 4, 15, 81, 94, 16, 46, 5, 13, 76, 86, 65, 30, 82, 12, 74, 92, 54, 71, 10, 52, 22, 72, 56, 23, 17, 45, 70, 3, 95, 55, 90, 85, 39, 99, 6, 36, 18, 31, 21, 83, 60, 88, 97, 79, 24, 53, 7, 67]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
set1 = set(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = []

#Loop para crear una lista:
for i in range(80):
    #genera un numero random (0 y 100) y agregalo a una lista
    sample_list_2.append(random.randint(0,100))
    
print(sample_list_2)

[1, 54, 22, 71, 75, 54, 41, 39, 67, 31, 49, 59, 49, 42, 87, 2, 67, 79, 85, 43, 68, 76, 32, 18, 15, 100, 46, 91, 36, 95, 70, 42, 18, 10, 41, 67, 5, 78, 47, 51, 39, 31, 30, 74, 92, 35, 14, 78, 58, 27, 14, 8, 26, 90, 91, 54, 4, 59, 51, 96, 59, 56, 88, 57, 77, 78, 40, 56, 79, 56, 95, 6, 88, 17, 23, 94, 66, 63, 67, 73]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)
len(set2)

57

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
set3 = set1 -set2
print(set3)

{0, 3, 7, 9, 11, 12, 13, 16, 19, 20, 21, 24, 25, 33, 34, 44, 45, 48, 52, 53, 55, 60, 62, 64, 65, 69, 72, 80, 81, 82, 83, 86, 93, 97, 98, 99}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2 -set1
print(set4)

{1, 66, 100, 8, 73, 43, 75, 14, 47, 78, 58, 59, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.union(set2)
print(set5)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
print(len(set1),len(set2),len(set3),len(set4),len(set5))

#¿cómo puedo represantar esa relación entre los diferentes sets?

80 57 36 13 93

#### Create an empty set called `set6`.

In [10]:
set6 = set()
type(set6)

set

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
set6.update(set3,set5)
print(set6)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 30, 31, 32, 33, 34, 35, 36, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Check if `set1` and `set6` are equal.

In [12]:
print(set1.difference(set6)) #Todos los elementos de set1 estan en set6
print(set6.difference(set1)) #No todos los elementos de set6 están en set1

set()
{1, 66, 100, 8, 73, 43, 75, 14, 47, 78, 58, 59, 63}

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
print(set2.issubset(set1))
print(set1.issuperset(set3))

False
True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
set7 = set3.union(set4,set5)
set8 = set1.union(set2)

print(set7 == set8)

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
#  This method removes a random element from the set and returns the removed element.
#  Unlike, a stack a random element is popped off the set.
#  This is one of the basic functions of the set and accepts no arguments.
#  The return value is the popped element from the set.

print(set1.pop())

0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [18]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]


for element in list_to_remove:
    if element in set1:
        set1.remove(element)
        
print(set1)

{2, 3, 4, 5, 6, 7, 10, 12, 13, 15, 16, 17, 18, 20, 22, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 40, 42, 44, 45, 46, 48, 52, 53, 54, 55, 56, 57, 60, 62, 64, 65, 67, 68, 70, 72, 74, 76, 77, 80, 82, 83, 85, 86, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98}